<div>
    <ol>
        <li>
            <mat-form-field>
                <input matInput [(ngModel)]="name" placeholder="What's your name?">
            </mat-form-field>
        </li>
        <li>
            <button mat-raised-button (click)="openDialog()">Escribe uno</button>
        </li>
        <li *ngIf="animal">
            Tu elección fue: <i> {{ animal }} </i>
        </li>
    </ol>
</div>

<div class="promesa-observable">
    <h2>Promesa</h2>
    <h3>{{ promesa }} </h3>

    <h2>Observable</h2>


    <ul>
        <li *ngFor="let observ of observable">{{ observ }} </li>
    </ul>


    <button mat-raised-button color="primary" (click)="subscribirse()">Escuchar</button>
    <button mat-raised-button color="warn" (click)="unSubscribirse()">No escuchar</button>
</div>
<br><br>
<button mat-raised-button color="warn" (click)="toggleDiv()">Aparecer</button>
<br><br>
<br>

<div style="border: 1px solid black">
    <h3>Componente Hijo</h3>
    <app-hijo [name]="name" [animal]="animal" (eventoSalida)="putMensajeInput($event)">
    </app-hijo>
</div>

<br>
<br>
<h2 [style.color]="mensaje == ''? 'red' : ' black'"> Este es un Mensaje que proviene del Hijo según el botón Presionado: {{ mensaje == '' ? 'NO HAY NADA ESCRITO !!' : mensaje }} </h2>

<div style="border: 1px solid black; margin: 5px;">
    <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color">
            {{chip.name}}
        </mat-chip>
    </mat-chip-list>
</div>

<div style="border: 1px solid black; margin-top: 5px; margin-left: 5px;">
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>

</div>