<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Proyecto mini Pos Venta</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/cliente']" style="width: 250px;">
              <mat-icon svgIcon="cliente" style='width: 30px ; height : 30px;'></mat-icon> 
            <span>Cliente</span>
          </button>
            <button mat-menu-item [routerLink]="['/stock']" style="width: 250px;">
              <mat-icon svgIcon="stock" style='width: 30px ; height : 30px;'></mat-icon> 
            <span>Stock</span>
          </button>
            <button mat-menu-item [routerLink]="[ '/venta'] " style="width: 250px;">
            <mat-icon svgIcon="venta" style='width: 30px ; height : 30px;'></mat-icon>
            <span>Venta</span>
          </button>
            <button mat-menu-item [routerLink]="[ '/prueba'] " style="width: 250px;">
            <mat-icon svgIcon="test" style='width: 30px ; height : 30px;'></mat-icon>
            <span>Pruebas</span>
          </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>