<div class="formularioStock">
    <h2 style="text-align: center; color: rgb(73, 73, 73)">Registro de Stock</h2>
    <div class="formularioStockInterno">

        <form [formGroup]="formularioStock">

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre Stock" formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Descripción de Stock" formControlName="descripcion">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Cantidad" formControlName="cantidad">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Valor Neto" formControlName="valorExento">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Valor Impuestos" formControlName="valorImpuestos">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Total Producto" formControlName="valorTotal">
            </mat-form-field>

            <br><br>
            <div class="botonera">
                <button mat-raised-button type="submit" color="primary" (click)="saveStock(formularioStock)">Registrar</button>
                <button mat-raised-button type="reset" color="warn" (click)="limpiarFormulario(formularioStock)">Limpiar</button>
            </div>
            <br><br>
        </form>
    </div>
</div>

<div class="tablaStock">

    <mat-form-field style="margin-left: 50px; width: 300px; padding: 10px">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda rápida">
    </mat-form-field>

    <div style="margin-bottom: 20px;">
        <div class="mat-elevation-z8" [ngStyle]="{'margin-left': '50px', 'background' : 'lightgray', 'margin-right': '50px'}">

            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{ row.nombre | uppercase }} </td>
                </ng-container>

                <ng-container matColumnDef="Descripción">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let row"> {{ row.descripcion | uppercase }} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                    <td mat-cell *matCellDef="let row"> {{ row.cantidad }} </td>
                </ng-container>

                <ng-container matColumnDef="Valor Exento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Exento </th>
                    <td mat-cell *matCellDef="let row"> {{ row.valorExento }} </td>
                </ng-container>

                <ng-container matColumnDef="Valor Impuestos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Impuestos </th>
                    <td mat-cell *matCellDef="let row"> {{ row.valorImpuestos }} </td>
                </ng-container>

                <ng-container matColumnDef="Valor Total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total </th>
                    <td mat-cell *matCellDef="let row"> {{ row.valorTotal }} </td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button type="submit" color="primary" (click)="editStock(row.id)">Editar</button>
                        <button mat-raised-button type="submit" color="warn" (click)="deleteStock(row.id)">Eliminar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>